.App {
  // border: 2px solid red;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( to left, #abbaab, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

